/*Stylesheet*/

BODY, HTML {
	margin: 		0;
	padding: 		0;
	font-family: 		Arial, Verdana, sans-serif;
	font-size: 		12px;
	font-weight:		normal;
	color: 			#ccc;
	background-color:	#333;
}

BODY {}

button {
    background: transparent;
    border: none;
    cursor: pointer;
}

p {
	margin:	10px 0;
}

#soundboard{
     text-align:center;
}

a:link, a:visited {
	color:			#e7841d;
	font-weight:            bold;
}
a:hover {
}

#header {
	padding:		20px;
	background-color:	#222;
}
#header h1 {
        font-weight:            normal;
        font-family:            Chiller;
        font-size:		34px;
        margin:			0;
        padding:		0;
}

#header p {
        margin:		0;
        padding:	0;

        font-size:	14px;
        color:		#777;
}

#header:after{
        content:	"";
        position:	absolute;
}


.content {
	width:		980px;
	height:		420px;
	padding:	10px;

	position:		absolute;
	top:			50%;
	left:			50%;
	margin-top:		-210px;
	margin-left:	-490px;

	color:			#777;

	border:				1px solid #555;
	background-color:	#ccc;
}

#loader {
	display: none;
}
.loader {
	width: 100%;
	height: 50px;
	position: absolute;
	text-align:center;
	margin-top: 250px;
	background: url('loader.gif') no-repeat;
	background-position: 50% 50%;
	display: block !important;
}

#error {
	display:none;
	width: 960px;
	text-align: left;
	padding: 10px;
}


.maincontainer {

}

.centerContainer {

}

.canvasHolder {

}

.site{
    margin-left: auto;
    margin-right: auto;
}

.header {

}

span.link{
    cursor: pointer;
    color:#e7841d;
    font-weight:bold;
    text-decoration: underline;
}

#showregister, #showlogin, #showsettings {
    
}

div.registerbg{
    left: 0px;
    position: relative;
    width:100%;
}

div.panel {
    border: 2px solid #ddd;
    border-color: #ccc;
    border-radius: 25px;
    padding: 30px;
    margin: 30px;
    text-align: center;
    width: 60%;
}
div.scores {
    
}

table.register, table.login {
    margin-left: auto;
    margin-right: auto;
}

div.register, div.login > tr {
    text-align: center;
}

th.labelcol {
    width: 30%;
}

th.fieldcol {
    width: 60%;
}

span.loginerror {
    color: #f00;
    font-weight: bold;
}

td.leftContainer {
    background: url("tausta2.png") no-repeat;
}

td.rightContainer {
    background: url("tausta1.png") no-repeat;
}

div.rightContainer {
   
}

div.leftContainer {
    width: 150px;
}

td.chattable {
    
}

div.chat {
    display: inline-block;
    margin-top: 0px;
    margin-bottom: auto;
    position: relative;
    top: 0px;
    width: 400px;
    clear: both;
}

div.chatusers {
    margin-left: 20px;
    display: inline-block;
    float:right;
}

div.chatmessages {
    width:100%;
    display: inline-block;
    height: 475px;
    overflow-y: auto;
    overflow-x: auto;
}

div.msgln{
    word-wrap: break-word;
    word-break: normal;
}

div.msglnsystem{
    color: #888;
    word-wrap: break-word;
    word-break: normal;
}

input#msg {
    width: 300px;
}

span#msgid {
    display:none;
}

span.afktimer{
    color: #666;
}

span.usertype{
    float: right;
    color: #fff;
}

div.chatcontrols {
    position: relative;
    float: right;
    cursor: pointer;
}

table.table{
	margin-left:auto;
	margin-right:auto;
}
table.table td {
    vertical-align: top;
}

div.panelAdmin {
    padding: 60px;
    text-align: center;
}


table.adminpanelUserList {
    border: solid 1px #999;
    
}

.adminpanelUserList th {
    background-color: #111;
    border: 1px white;
}

.adminpanelUserList tr:nth-child(even) {
    background-color: #333;
}

.adminpanelUserList tr:nth-child(odd) {
    color: #999;
    background-color: #222;
}

.adminpanelUserList td {
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
    
    text-align: left;
}
/* div debuggaukseen */
/*div {
    border: solid 1px;
}*/
